script.
    // App.pug
    import Util from "./Util"
    import BubbleComponent from "./BubbleComponent.pug"

    let text = ""

    Util.ServiceUtil.loadData("data/data.json").then((data) => {
        if(data && data.values && data.values.length) 
            text = data.values[Math.floor(Math.random() * data.values.length)]
    })

main.loccom
    .container
        header 
            h1 
                span Local Comedian by 
                a(href="http://www.gregularcomedy.com/") Greg Behrens

        hr

        BubbleComponent(text="{text}")

        section.greg
            img(src="img/greg.png" alt="Greg")

    footer.footer Made with 
        span.heart &#9829; 
        span by 
        a(href="https://IMstandup.com") IMstandup.com
style.
    .loccom .greg {
        text-align: center;
        margin: 50px 0;
    }